@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
   --dark-cyan: hsl(185, 75%, 39%);
   --very-dark-desaturated-blue: hsl(229, 23%, 23%);
   --dark-grayish-blue: hsl(227, 10%, 46%);
   --dark-grayish-blue-opacity: hsla(227, 10%, 46%, 0.4);
   --dark-gray: hsl(0, 0%, 59%);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Kumbh Sans', sans-serif;
   background: url(images/bg-pattern-top.svg) no-repeat right 50vw bottom 50vh, 
               url(images/bg-pattern-bottom.svg) no-repeat left 50vw top 50vh;
   background-color: var(--dark-cyan);
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.card{
   width: 350px;
   min-width: 320px;
   background-color: #fff;
   overflow: hidden;
   border-radius: 20px;
   text-align: center;
   margin: 20px;
}

.card .top-img{
   height: 150px;
   background: url(images/bg-pattern-card.svg) no-repeat center/cover;
}

.card .card-userimg{
   border: 5px solid #fff;
   border-radius: 50%;
   margin-top: -52px;
}

.card .card-info{
   margin: 20px;
}

.card .card-info .username{
   color: var(--very-dark-desaturated-blue);
}

.card .card-info .age-user{
   font-weight: 400;
   color: var(--dark-grayish-blue);
   margin-left: 5px;
}

.card .card-info .city{
   font-size: 0.9rem;
   color: var(--dark-grayish-blue);
   margin-top: 10px;
}

.card .card-stats{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 25px;
   border-top: 1px solid var(--dark-grayish-blue-opacity);
}

.card .card-stats .stat h3{
   color: var(--very-dark-desaturated-blue);
}

.card .card-stats .stat p{
   color: var(--dark-grayish-blue);
   font-size: 0.9rem;
   letter-spacing: 1px;
}

/* RESPONSIVE */
@media screen and (max-width:320px) {
   body{
      font-size: 14px;
   }
   .card{
      min-width: 300px;
      margin: 10px;
   }
   .card .top-img{
      height: 120px;
   }
   .card .card-userimg{
      margin-top: -54px;
   }
   .card .card-info{
      margin: 10px;
   }
   .card .card-stats{
      padding: 20px;
   }
}